.App {
  max-width: 800px;
  margin: 60px auto;
}
p {
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
}
.App p a {
  text-decoration: none;
  font-weight: bold;
  color: rgba(57, 57, 149, 0.853);
}
