.WeatherForecast {
  text-align: center;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
  color: rgb(229, 203, 203);
}

.Weather .WeatherForecast canvas {
  display: block;
  margin: 15px auto;
}
